<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Employee</title>

<div th:replace="fragments/header :: header-css" />

</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">

		<form id="addEmplyeeForm" method="POST" th:action="@{/employee-ui/submit}"
			th:object="${employee}">
			<!-- Name -->
			<div class="form-group">
				<label for="name" th:text="#{lbl.name}"></label> <input
					class="form-component" type="text" th:field="*{name}" />
			</div>

			<!-- Surname -->
			<div class="form-group">
				<label for="surname" th:text="#{lbl.surname}"></label> <input
					class="form-component" type="text" th:field="*{surname}" />
			</div>

			<!-- Gender -->
			<div class="form-group">
				<label for="gender" th:text="#{lbl.gender}"></label><br> <input
					type="radio" th:field="*{gender}" value="Male" /><label
					th:text="#{lbl.gender.male}">M</label> <input type="radio"
					th:field="*{gender}" value="Female" /><label
					th:text="#{lbl.gender.female}">F</label>
			</div>

			<!-- Country -->
			<div class="form-group">
				<label for="country" th:text="#{lbl.country}"></label> <select
					th:field="*{countryId}">
					<option value="">Please select a country</option>
					<option th:each="country : ${countries}"
						th:value="${country.countryId}" th:utext="${country.countryName}" />
				</select>
			</div>

			<!-- MultipleSelect -->
			<div class="form-group">
				<select id="technologiesMultipleSelect"
					name="technologiesMultipleSelect" multiple="multiple"
					th:field="*{technologiesMultipleSelect}">

					<option
						th:each="technology,row : ${technologies}"
						th:value="${technology.technologyId}" th:text="${technology.technologyName}"></option>
				</select>
			</div>

			<!-- Checkbox -->
			<div class="form-group">
				<label for="internal" th:text="#{lbl.internal}"></label> 
				<input type="checkbox" th:field="*{internal}" />
			</div>

			<!-- MultipleCheckBoxex -->
			<div class="form-group">

				<label for="multiCheckboxQualificationValues"
					th:text="#{lbl.multipleCheckboxesQualifications}"></label>

				<li th:each="qualification : ${qualifications}">
					<label
						th:for="${qualification.qualificationName}" th:text="${qualification.qualificationName}">Qualification
						name</label> 
					
					<input type="checkbox" th:id="${qualification.qualificationName}"
					th:name="${qualification.qualificationName}" th:value="${qualification.qualificationName}"
					th:field="*{multiCheckboxQualificationValues}" />
				</li>
			</div>

			<!-- TextArea -->
			<div class="form-group">
				<label for="additionalNotes" th:text="#{lbl.additionalNotes}"></label>
				<textarea class="form-control" name="additionalNotes"
					th:field="*{additionalNotes}"
					placeholder="Add addtional notes here..."></textarea>
			</div>

			<button type="submit" class="btn btn-success"
				th:text="#{btn.lbl.save}"></button>
			<a href='#' class="btn btn-default" th:text="#{btn.lbl.cancel}"></a> 
		</form>
	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer" />

</body>
</html>